* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 127px;
    background-color: #004684;
    position: relative;
}

.logo-maua {
    width: 170px;
    height: 80px;
    margin-left: 14px;
    padding-top: 18px;
}

.user-informations {
    margin-top: 15px;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 11px;
    color: #FFF;
}


main {
    border: 1px solid #4297D7;
    border-radius: 5px;
}